.body {
    background-color: black;
}

.container-fluid {
    padding: 3rem;
}
.header {
    background-color: blue;
    height: 150px;
}
.nav {
    background-color: darkgreen ;
    height: 50px;
}
.main {
    background-color:red ;
    height: 50px;

}
.section {
    background-color: orange;
    height: 50px;

}
.footer {
    background-color: black;
    height: 50px;
}